<div class="row">
    <div class="col-md-12 text-center">
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-secondary" RouterLinkActive="Active" [routerLink]="['nuevo']">Nuevo</button>
            <button type="button" class="btn btn-secondary" RouterLinkActive="Active" [routerLink]="['editar']">editar</button>
            <button type="button" class="btn btn-secondary" RouterLinkActive="Active" [routerLink]="['detalle']">detalle</button>
        </div>
    </div>
</div>

<router-outlet></router-outlet>
