<div [ngSwitch]="alerta">
    <div *ngSwitchCase="'success'">
        <p class="text-success">Success</p>
    </div>
    <div *ngSwitchCase="'info'">info</div>
    <div *ngSwitchCase="'warning'">warning</div>

    <div *ngSwitchDefault>danger</div>
</div>

<button type="button" (click)="alerta='success'" class="btn btn-outline-success btn-block mb-2">Success</button>

<div [ngSwitch]="alerta">
    <div *ngSwitchCase="'success'" class="alert alert-success" role="alert">
        A simple primary alert—check it out!
    </div>
    <div *ngSwitchCase="'info'" class="alert alert-secondary" role="alert">
        A simple secondary alert—check it out!
    </div>
    <div *ngSwitchCase="'warning'" class="alert alert-success" role="alert">
        A simple success alert—check it out!
    </div>
    <div *ngSwitchDefault class="alert alert-danger" role="alert">
        A simple danger alert—check it out!
    </div>
</div>
